:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color-dark-theme: #ffffff;
  --main-text-color-white-theme: #212121;
  --secondary-text-color-white-theme: #757575;
  --accent-color: #2196f3;
  --main-background-color: #2f303a;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* test git */
/* ===================== COMPONENTS =====================  */
.subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color-white-theme);
}
.card-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-white-theme);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ======================/COMPONENTS =====================*/

/* =======================HEADER ===========================  */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec83;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link-current::after {
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-text-color-white-theme);
}
.logo-part {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-white-theme);
  transition: color var(--transition-duration-and-func);
}
.menu-link-current {
  color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-header {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-white-theme);
}
.contact-item {
  display: flex;
  align-items: center;
  transition: color var(--transition-duration-and-func);
}
.contact-item-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color-white-theme);
  transition: fill var(--transition-duration-and-func);
}
.contact-item:hover .contact-item-icon,
.contact-item:focus .contact-item-icon {
  fill: var(--accent-color);
}

.contact-item-list:last-child {
  margin-left: 30px;
}
.contact-item {
  color: inherit;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}
/*======================== /HEADER==========================  */

/* =========================MAIN============================ */
/* hero section */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/bg.jpg');
  background-color: #c4c4c4;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-text-color-dark-theme);
  background-color: var(--accent-color);
}

/* advantages section */
.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-bottom: 30px;
}

.advantages-item-icon {
  width: 70px;
  height: 70px;
}
.page-title {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color-dark-theme);
  /* adding background color in order to see the words on the page */
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color-white-theme);
}
.advantages-descrp {
  min-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-white-theme);
}
/* ocupation list */
.occupation-section {
  padding-bottom: 94px;
}
.occupation-img {
  max-width: 100%;
  height: auto;
}
.occupation-item {
  position: relative;
  display: block;
}

.occupation-list {
  display: flex;
  justify-content: space-between;
}
.occupation-name-container {
  position: absolute;
}
.occupation-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color-dark-theme);
  background-color: rgba(47, 48, 58, 0.8);
}
/* team section */
.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.subtitle-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.colleagues-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color-white-theme);
}
.team-item {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color var(--transition-duration-and-func);
}

.social-list-item :hover,
.social-list-item :focus {
  background-color: var(--accent-color);
}
.social-list-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill var(--transition-duration-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}
/* CLIENTS SECTION */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func);
}
.clients-list-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill var(--transition-duration-and-func);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}
.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}
/*=====================================/ main ======================================*/
/* ====================================footer====================================== */
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-adress {
  margin-right: 70px;
}
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-text-color-dark-theme);
}
.contacts {
  font-style: normal;
  margin-top: 20px;
}
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color-dark-theme);
}
.contact-address {
  color: inherit;
}
.contact-link {
  color: inherit;
  opacity: 60%;
}
.social-list-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-icon-footer {
  fill: #fff;
}
.title-social-list {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color-dark-theme);
}
.footer-social-list {
  display: block;
  justify-content: ;
}

/* ===================================/footer===================================== */
/* portfolio */
.button-works-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: ;
}
.works-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-text-color-white-theme);
  transition: background-color, color, box-shadow var(--transition-duration-and-func);
}
.card-title-portfolio {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-white-theme);
}
.works-button:hover,
.works-button:focus {
  background-color: var(--accent-color);
  color: var(--main-text-color-dark-theme);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-item {
  display: block;
}
.portfolio-link {
  display: block;
  max-width: 370px;
  background-color: #ffffff;
  transition: box-shadow var(--transition-duration-and-func);
}
.portfolio-list-container {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-and-func);
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-text-color-dark-theme);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color-white-theme);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* =================MODAL WINDOW================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* =================/MODAL WINOW================== */
